/* External CSS */
/* Google fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Nunito:wght@400;600;700&family=Open+Sans:wght@300;400;600;700&display=swap'); */
/*defaul CSs*/
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'verdana';
    margin: 0 0 15px;
    font-weight: 700;
    font-size: 15px;
}
body {
    font-family: 'verdana';
    
}
p{
	font-family: 'verdana';
	font-weight: 300;
    color:#050002;
}
.section-padding-top{
	padding-top: 100px;
}
.section-padding-bottom{
	padding-bottom: 100px;
}
.section-padding{
    padding: 0 25px;
}
/*--account info css --*/
.account {
    background: #f3f3f3;
    padding: 35px;
    border-top: 26px solid #FF5722;
    margin-top: 100px;
}
.container{
	/*width: 1300px;*/
	padding: 0 50px;
	margin: 0 auto;
	/* height: 10vw; */
	/* width: 100vw; */
}
.account-info {
    display: flex;
    /* background:#f3f3f3;
    padding: 35px; */
}

.logo img {
    width: 100px;
}
.account-details {
    padding: 0 36px;
}
.account-details h3 {
    font-size: 24px;
    color: #333F4F;
}

.account-details p {
    font-size: 16px;
    margin: 10px 0;
}
.account-details h2 {
    text-transform: uppercase;
    color: #333F4F;
}
.account-no {
    display: flex;
}
.account-no h2 {
    margin: 8px 0px 8px 80px;
    text-transform: uppercase;
}
.receipt {
    width: 200px;
}
.receipt h2 {
    color: #BFBFBF;
}

.receipt p {
    color: #333;
    margin-bottom: 20px;
    border-bottom: 1px solid #BFBFBF;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
}
/* user css  */
.user{
    border-bottom: 26px solid #FF5722;
    /* height: 400px; */
    margin-bottom: 100px;
}

.title {
    border-bottom: 1px solid #BFBFBF;
    padding-top: 20px;
}

.title h3 {
    color: #1F3864;
}
.amount-table {
    float: right;
    width: 400px;
}
.user-content {
    padding: 20px 0;
}

.user-content p {
    line-height: 34px;
}

.user-content p a {
    color: #5F83D5;
}
/* table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #0F0706;
    text-align: left;
    padding: 8px;
  }
  .amount-table p span {
    font-weight: 600;
    margin-right: 30px;
} */
.user-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    border: 1px solid #999999;
  }
  
  .user-table td {
    border: 1px solid #999999;
    border-top: none;
    border-bottom: none;
    padding: 8px;
    text-align: right;
    
  }
  .user-table td:last-child{
    /* border-bottom: 1px solid #999999; */
  }
  .user-table td:nth-child(1){
    text-align: left;
  }
  .user-table td:nth-child(2){
      text-align: center;
  }
  .user-table tr:nth-child(even){background-color: #F3F3F3;}
  
  /* .user-table tr:hover {background-color: #ddd;} */
  
  .user-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    /* text-align: left; */
    background-color: #FF5722;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }

  /* payment css  */
  .payment {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.payment-left p {
    color: #000003;
}

.payment-left {
    margin: 0 auto;
}
.total-text p {
    text-align: end;
    margin-right: 47px;
    font-weight: 600;
    font-size: 13px;
    line-height: 40px;
}

.total-amount p {
    text-align: end;
    line-height: 40px;
    font-size: 14px;
    border-bottom: 1px solid #D6D6D6;
}

.total-amount {
    width: 109px;
}
.balance {
    display: flex;
    justify-content: end;
    border-top: 1px solid #000;
    width: 381px;
    float: right;
}

p.balance-text {
    font-weight: 600;
    margin-right: 35px;
    line-height: 40px;
}
p.total-balance {
    background: #F4CCCC;
    padding: 12px 16px;
    border-bottom: 1px solid #000;
    font-weight: 700;
    font-size: 16px;
}

